@font-face {
    font-family: 'GreenScreen';
    src: url('/Greenscr.ttf') format('truetype');
}


body {
    background-color: #000;
    color: #0f0;
    font-family: 'GreenScreen', 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6;
}

.crt-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    z-index: 1;
}

.terminal {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #0f0;
    box-shadow: 0 0 10px #0f0;
    z-index: 2;
}

.header {
    color: #0f0;
    margin-bottom: 20px;
    text-align: center;
}

.prompt {
    color: #0f0;
}

.command {
    color: #fff;
}

a {
    color: #0f0;
    text-decoration: none;
    border-bottom: 1px solid #0f0;
}

a:hover {
    background-color: #0f0;
    color: #000;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
